<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338585678771-2qu9c1hfl9qnp6baf4mmjtl617805umm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338585678771-2qu9c1hfl9qnp6baf4mmjtl617805umm</string>
	<key>API_KEY</key>
	<string>AIzaSyAut5tv2K4nQFQItxNTuJhSsfulNOGLZKA</string>
	<key>GCM_SENDER_ID</key>
	<string>338585678771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>setoon47.KokubanScaner</string>
	<key>PROJECT_ID</key>
	<string>kokubanscanner</string>
	<key>STORAGE_BUCKET</key>
	<string>kokubanscanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338585678771:ios:67fb1b6c6cccd3bbfa51c6</string>
</dict>
</plist>